<!DOCTYPE html>
<html lang="ko">
<head>
   {% load static %}
  <meta charset="UTF-8" />
  <title>회원가입</title>
  <link rel="stylesheet" href="{% static 'home/home.css' %}">

</head>
<body>
  <!-- 인증 영역 -->
  <section id="authPage" class="page">
    <div class="grid-2">
 <!-- 회원가입 -->
  <section id="signupPage">
      <form id="signupForm" class="card">
        <h3>회원가입</h3>
        <label>아이디 <input id="signupId" required /></label>
        <label>비밀번호 <input id="signupPw" type="password" required /></label>

        <div class="row gap-8">
          <label><input type="radio" name="gender" value="M"> 남</label>
          <label><input type="radio" name="gender" value="F"> 여</label>
        </div>

        <div class="row gap-8">
          <select id="birthYear" required></select>
          <select id="birthMonth" required></select>
          <select id="birthDay" required></select>
        </div>

        <label>주소 <input id="address" placeholder="선택사항"/></label>

        <label>MBTI
          <select id="mbtiSelect">
            <option value="">선택</option>
            <option>INTJ</option><option>INTP</option><option>ENTJ</option><option>ENTP</option>
            <option>INFJ</option><option>INFP</option><option>ENFJ</option><option>ENFP</option>
            <option>ISTJ</option><option>ISFJ</option><option>ESTJ</option><option>ESFJ</option>
            <option>ISTP</option><option>ISFP</option><option>ESTP</option><option>ESFP</option>
          </select>
        </label>

        <button class="primary" type="submit">가입하고 취미 설정하기</button>
      </form>
    </section>
    </div> <!-- grid-2 닫기 -->
  </section>
        <script src="{% static 'signup/signup.js' %}"></script>

</body>
</html>